@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

 /*Hero/Header  */

.hero {
    background-color: #1F2937;
    padding: 40px 400px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F9FAF8;
    padding-bottom: 70px;
}

.header h1 {
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.header-links a,
.text-description h2 {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-description {
    display: flex;
    justify-content: space-between;
}

.text-description {
    width: 350px;
}
.text-description h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 10px;
}

.text-description h2 {
    margin-bottom: 10px;
}

.text-description button {
    background-color: #3882f6;
    cursor: pointer;
    padding: 6px 24px;
    border: none;
    border-radius: 4px;
    color:#F9FAF8;
    font-size: 18px;
    font-weight: bold;
}

.text-description button {
    transition: 0.125s;
}

.text-description button:active {
    background-color: green;
}

.hero-image-container {
    width: 450px;
}

.hero-image-container img {
    max-width: 100%;
    border-radius: 20px;
}


/* Main */
/* Information Section*/

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.information h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information .box-container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px;
}

.box-container .box{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    gap: 12px;
}


.box-container .img-container {
    height: 180px;
    overflow: hidden;
    border: 5px solid #3882f6;
    border-radius: 5px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-container h2{
    font-size: 18px;
}

/* Quote Section */

.quote {
    background-color: #E5E7EB;
    padding: 150px 400px;
}

.quote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 5px;
}

.quote h2 {
    text-align: right;
}

/* Call to Action Section */

.call-to-action {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-to-action .container{
    background-color: #3882f6;
    width: 900px;
    padding: 30px 80px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.cta-content h1 {
    font-size: 18px;
    font-weight: 900;
    color:#F9FAF8;
}

.cta-content p {
    color:#F9FAF8;
    font-weight: 300;
}

.cta-button button {
    background-color: #3882f6;
    border: 1px solid #F9FAF8;
    border-radius: 4px;
    padding: 8px 24px;
    color:#F9FAF8;
    font-weight: 900;
}

/* Footer */

.footer {
    text-align: center;
    background-color: #1F2937;
    color:#F9FAF8;
    padding: 40px;
}